.fz-80{font-size:.8rem;}
.bg-f2{  background: #F2F2F2;}
.w100{width:100%;}
.pdr5{padding:0 .5rem;border-bottom:2px solid #DFDFDF;margin-bottom:.5rem;background-color:#fff;}
.pdc5{padding:.5rem 0;}
.line{border-top:1px solid #e1e1e1;width:100%;}
.line-r5{border-top:1px solid #E1E1E1;padding:0 .5rem;}


