body{line-height: 1.2;}
a{color:#424242;}
/*parent*/
.v-f{
    display:-webkit-box;/* android 2.1-3.0, ios 3.2-4.3 */
    display:-webkit-flex;/* Chrome 21+ */
    display:-ms-flexbox;/* WP IE 10 */
    display:flex;/* android 4.4 */
}
/*level*/
.v-fc{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;/* android 2.1-3.0, ios 3.2-4.3 */
    -webkit-justify-content: center;/* Chrome 21+ */
    -ms-flex-pack: center;/* WP IE 10 */
    justify-content: center;/* android 4.4 */
}
/*vertical*/
.v-fm{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;/* android 2.1-3.0, ios 3.2-4.3 */
    -webkit-align-items: center;/* Chrome 21+ */
    -ms-flex-align: center;/* WP IE 10 */
    align-items: center;/* android 4.4 */
}
.v-fb{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;/* android 2.1-3.0, ios 3.2-4.3 */
    -webkit-justify-content: space-between;/* Chrome 21+ */
    -ms-flex-pack: justify;/* WP IE 10 */
    justify-content: space-between;/* android 4.4 */
}
.v-fcm{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;/* android 2.1-3.0, ios 3.2-4.3 */
    -webkit-justify-content: center;/* Chrome 21+ */
    -ms-flex-pack: center;/* WP IE 10 */
    justify-content: center;/* android 4.4 */
    -webkit-box-align: center;/* android 2.1-3.0, ios 3.2-4.3 */
    -webkit-align-items: center;/* Chrome 21+ */
    -ms-flex-align: center;/* WP IE 10 */
    align-items: center;/* android 4.4 */
}
/*child*/
.v-i1{
    -webkit-box-flex:1;/* android 2.1-3.0, ios 3.2-4.3 */
    -webkit-flex:1;/* Chrome 21+ */
    -ms-flex:1;/* WP IE 10 */
    flex:1;/* android 4.4 */
}
.v-oldman{
    position: absolute;z-index: 3;
    left:0;top:0;bottom:0;right:0;
}
/*盒子框架*/
.v-section{
    border-top:1px solid #eaeaea;
    border-bottom:1px solid #eaeaea;
    margin-bottom:.5rem;
    background-color:#fff;
}
.v-section-space{
    height:.5rem;
}
.v-section-title{
    font-size:.6rem;
    color:#FF7F2A;
}
/*btn 框架*/
.v-btns{
    margin:0 auto;
    width:100%;
    text-align: center;
}
.left{float:left;}
.right{float:right;}
.por{position: relative;}
.pos{position: absolute;}
.ofh{overflow: hidden;}
.tac{ text-align: center;}
.d-t{display:table;}
.d-tc{display:table-cell;}
.d-tcm{display:table-cell;vertical-align:middle;}
.poa{position: absolute;}
.right-bottom-0{right:0;bottom:0;}
.dt{display:table;}
.db{
    display: block;}

.vm{vertical-align: middle;}

.lh-init{line-height:initial; }/*行高初始化*/
/*color*/
.c-f{color:#fff;}
.c-1a{color:#1a1a1a;}
.c-333{color:#333;}
.c-8c{color:#8c8c8c;}
.c-9{color:#999;}
.c-7d{color:#7d7d7d;}
.c-42{color:#424242;}
.c-71{color:#717171;}
.c-ff{color:#FF7F2A;}
.c-7e{color:#7e4d2a;}
.c-f7{color:#F71616!important;}
.c-d9{color:#d92717;}
.c-06{color:#06558c;}
.bg-f{background-color:#fff;}
.bg-ee{background-color:#ee7800;}
.bg-ff{background-color:#FF7F2A!important;}
.bg-f2{background-color: #F2F2F2;}
.bg-b4{  background-color:#b4b4b4!important;}
.bg-a1{background-color:#a1a1a1;}

.lh-15{line-height:1.5;}
.lh-20{line-height: 2.0;}
/*size*/
.pd-4{padding:.4rem .5rem;}
.fz-55{font-size:.55rem;}
.fz-60{font-size:.60rem;}
.fz-65{font-size:.65rem;}
.fz-70{font-size:.70rem;}
.fz-75{font-size:.75rem;}
.fz-80{font-size:.80rem!important;}
.fz-85{font-size:.85rem;}
.fz-90{font-size:.90rem;}
.fz-100{
    font-size:1rem;}
.fz-120{font-size:1.2rem;}
.fz-130{font-size:1.3rem;}
.fz-200{font-size:2rem;}
.fw-b{font-weight: bold;}
.mb-5{margin-bottom:.5rem;}
.mb-10{margin-bottom:1rem;}
.mt-10{margin-top:1rem;}
.mt-5{margin-top:.5rem;}
.pd-5{padding:.5rem;}
.pd-box{padding:.5rem .4rem;}
.pdl-5{padding-left:.5rem;}

.pdr-5{padding:.5rem 0;}
.pdr-10{padding:1rem 0;}
.pdc-4{padding:0 .4rem;}
.pdc-5{padding:0 .5rem;}
.mb-0{margin-bottom:0;}
.mr-3{margin-right:.3rem;}
.m-auto{  margin:0 auto;}
/*换行*/
.line-break{
    display:-webkit-box!important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    /*-webkit-box-orient: vertical;*/
    -webkit-line-clamp:2;
}
.line-vertical{height:3.5rem;border-left:1px solid #D8D8D8;width:1px;}
.line-pdr5{border-top:1px solid #EEEEEE;margin:0 .5rem;}
.line-pdr5-f{border-top:1px solid #fff;margin:0 .5rem;}
.line-row{border-top:1px solid #F1F1F1;margin:0!important;padding:0!important;}
.line-row-dc{border-top:1px solid #dcdcdc;margin:0!important;padding:0!important;}
.line-space{border-top:1px solid transparent;}
/*框架*/

.scroll{
    position:absolute;
    top:0;right:0;bottom:0;left:0;
    z-index:1;
    overflow-y: scroll;
}
.scroll-no-bottom{
    bottom:2.45rem;
}
.footer{
    width:100%;
    height:2.45rem;
    line-height:2.45rem;
    font-size:.8rem;
    color:#ee7800;
    background-color:#fff;
    border-top:1px solid #E9E9E9;
    position:absolute;
    bottom:0;
    z-index:100;
}
.footer2{
    width:100%;
    height:2.45rem;
    font-size:.8rem;
    color:#fff;
    background-color:#FF7F2A;
    border-top:1px solid #E9E9E9;
    position:absolute;
    bottom:0;
    z-index:100;
}
.header{
    width:100%;
    height:2.45rem;
    line-height:2.45rem;
    font-size:.8rem;
    color:#ee7800;
    background-color:#fff;
    border-top:1px solid #E9E9E9;
    position:fixed;
    top:0;
    z-index:10;
}
.btn-9-f{
    background-color:#999;
    color:#fff;
}

/*icon*/
.icon-color-bar{width:100%;
    display: block;}

/*门票样式开始*/

/*新版门票样式*/
.activity-ticket{
    width:100%;
    border:1px solid #F0AA51;
    background-color:#FFD49D;
}
.activity-ticket .activity-ticket-top{
    background-color:#FFD49D;
    color:#424242;
}
.activity-ticket .icon-wavyline{
    width:100%;height:.171rem;
    background:url('../images/icon-wavyline.png') center top no-repeat;
    background-size:100% 100%;
}
.activity-ticket .activity-ticket-bottom{
    height:2.368rem;
    background-color:#FFEAD0;
}
/*新版门票样式  被选中*/
.activity-ticket.checked{
    width:100%;
    border:1px solid #FF7F2A;
}
.activity-ticket.checked .activity-ticket-top{
    background-color:#FF7F2A;
    color:#fff;
}
.activity-ticket.checked .icon-wavyline{
    background:url('../images/icon-wavylin-checked.png') center top no-repeat;
}
.activity-ticket.checked .activity-ticket-bottom{
    background-color:#FFD49D;
}
/*门票样式结束*/

.icon-vertical{
    height:.5rem;
    width:4px;
    background-color:#F73838;
    display:inline-block;
    margin-right:5px;
    border-radius:2px;
}
/*右箭头*/
.icon-right{
    display:block;
    width:.5rem;
    height:.5rem;
    border-left:2px solid #999;
    border-top:2px solid #999;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    margin-right:.2rem;
}
.icon-right-w{
    border-left:2px solid #fff;
    border-top:2px solid #fff;
    position:absolute;
    right: .5rem;
    top: .9rem;
}
.icon-vertical-red{
    display: inline-block;
    width: .1rem;
    height: .45rem;
    margin-right: .25rem;
    border-radius: .05rem;
    background-color: #eb413d;
}

.icon-arrows-r{
    display: block;
    width:.5rem;
    height:.5rem;
    border-left:1px solid #424242;
    border-top:1px solid #424242;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    /*margin-right:.2rem;*/
}
.icon-arrows-b{
    display: block;
    width:.5rem;
    height:.5rem;
    border-left:1px solid #FF7F2A;
    border-top:1px solid #FF7F2A;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    /*margin-right:.2rem;*/
    margin-bottom:.3rem;
}
/*ok家图标*/
.icon{
    display: block;
    width:.85rem;height:.85rem;
    margin-right:.9rem;
}
.icon-time{
    background:url("../images/icon-time.png") center center no-repeat;
    background-size:100%;
}
.icon-addr{
    display: block;
    width:.9rem;height:1.075rem;
    background:url("../images/icon-addr.png") center center no-repeat;
    background-size:100%;
}
.icon-time2{
    margin-right:.2rem;
    width:.675rem;height:.675rem;
    background:url("../images/icon-time2.png") center center no-repeat;
    background-size:100%;
}
.icon-addr2{
    margin-right:.2rem;
    width:.575rem;height:.725rem;
    background:url("../images/icon-addr2.png") center center no-repeat;
    background-size:100%;
}
.icon-money{
    margin-right:.2rem;
    width:.675rem;height:.675rem;
    background:url("../images/icon-money.png") center center no-repeat;
    background-size:100%;
}
.icon-person{
    margin-right:.2rem;
    width:.675rem;height:.675rem;
    background:url("../images/icon-person.png") center center no-repeat;
    background-size:100%;
}

.icon-bg-note{
    background:url("../images/note.png") center top no-repeat;
    width:100%;
    background-size:100% 100%;
    overflow: hidden;
    padding:1.5rem 0 0.5rem 0;
    border-bottom:1px solid #E7EDE0;
}
/*二维码*/
.icon-QRcode{
    display:inline-block;
    width:2rem;height:1.1rem;
    background:url("../images/QRcode.png") center center no-repeat;
    vertical-align: -.25rem;
    background-size:.9rem;
}
.icon-QRcode5{
    display: block;
    width:.925rem;height:.925rem;
    background:url("../images/QR-code5.png") center center no-repeat;
    background-size:100% 100%;
    margin-right:.3rem;
}
.ibg-apply:first-child{
    margin-top:.96rem;
}
/*允许报名*/
.ibg-apply-allow{
    width:15rem;/*height:5.9rem;*/
    border:2px solid #FF7F2A;
    background-color:#FEF0E6;
    margin:0 auto .96rem;
}
.ibg-activity-full{
    width:11.1rem;height:3.99rem;
    background:url("../images/activity-full.png") center center no-repeat;
    background-size:100% 100%;
    margin:1rem auto;
}
.ibg-activity-over{
    width:11.1rem;height:3.99rem;
    background:url("../images/activity-over.png") center center no-repeat;
    background-size:100% 100%;
    margin:1rem auto;
}
/*报名已满*/
.ibg-apply-forbid{
    width:15rem;/*height:5.9rem;*/
    border:2px solid #FF7F2A;
    background-color:#FEF0E6;
    margin:0 auto .96rem;
}
/*报名已截止*/
.ibg-apply-over{
    width:15rem;/*height:5.9rem;*/
    border:2px solid #FF7F2A;
    background-color:#E5E5E5;
    margin:0 auto .96rem;
}
.textarea{
    width: 11rem;
    height:5rem;
    outline: 0;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-user-modify: read-write-plaintext-only;
    line-height: 1.1rem;
    padding-top: .29rem;
}
.placeholder{
    position:absolute;
    height:1.95rem;
    line-height: 1.95rem;
    color:#999;
    font-weight: normal;
    z-index:1;
    width:11rem;
}


@media only screen and (min-width: 359px){
    html {font-size:22.5px;}
    .homepage a.a-block{ line-height:1.12rem;}
}
@media only screen and (min-width: 374px){
    html {font-size:23.4375px;}
}
@media only screen and (min-width: 399px){
    html {font-size:25px;}
}
@media only screen and (min-width: 413px){
    html {font-size:25.875px;}
}
@media only screen and (min-width: 479px){
    html {font-size:30px;}
}
@media only screen and (min-width: 539px){
    html {font-size:33.75px;}
}
